


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Pet Lover</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </form>
</nav>



<body>
<h1>I am here in this index user page</h1>
<h1>Adorable Dogs</h1>

<% if current_user%>
<%= current_user.name%>
<%end%>

</body>