

<div class="container">
    <h1>Welcome from Pet Lover!</h1>
    
</div>

<div class="container">
    <p>Your dog is as smart as a 2-year-old toddler.
    There’s a reason your tot and your pup get along so well: they speak the same language. Or at least, they likely understand roughly the same number of words and gestures — 250!
    Dogs and cats both slurp water the same way.</p>
    <p>This may be hard to believe since dogs are such messy drinkers, but just like cats, our canine friends bend the tip of their tongue and raise liquid in a column up to their mouths.
    Your dog does have a sense of time — and misses you when you’re gone.</p>
    <p>If you think your dog knows when it’s time for dinner or a walk, you’re right! Dogs pick up on our routines and habits, and they also sense how much time has passed. One study showed how dogs responded differently to their owners being gone for different lengths of time.</p>
</div>

<hr>

<%# Images section for display homepage only %>
<div class="container"> 
    <div class="column">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzVhK_zyFN1TE-ALC7eRQC7rGZy7m4nYTN1RoJi7Jt7UHBaqVnLg">
         <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUgvBtFDJxqLOZzg_U6vN1brVEMhs4ioVIn81dsNfFZodQ4i5b">
          <img src="http://www.petuniverse.com.au/wp-content/uploads/2015/11/cute_pup.jpg">
    </div>

   

     <p>Your dog’s whiskers help him “see” in the dark.
Okay, it’s not quite night-vision or a super power, but those whiskers pick up on even subtle changes in air currents, providing your pup with information about the size, shape, and speed of things nearby. This allows your dog to better sense approaching dangers or prey — even at night.</p>
</div>


<div class="container">
    <p>Your dog is as smart as a 2-year-old toddler.
    There’s a reason your tot and your pup get along so well: they speak the same language. Or at least, they likely understand roughly the same number of words and gestures — 250!
    Dogs and cats both slurp water the same way.</p>
    <p>This may be hard to believe since dogs are such messy drinkers, but just like cats, our canine friends bend the tip of their tongue and raise liquid in a column up to their mouths.
    Your dog does have a sense of time — and misses you when you’re gone.</p>
    <p>If you think your dog knows when it’s time for dinner or a walk, you’re right! Dogs pick up on our routines and habits, and they also sense how much time has passed. One study showed how dogs responded differently to their owners being gone for different lengths of time.</p>
</div>

<hr>

<%# Images section for display homepage only %>
<div class="container"> 
    <div class="column">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbBz3cLQ9ZQrM4MA87sth1YoLCu-hTTgg3pZ162PAz1800278X">
         <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1eOqvgWGrRWur9KhN0WqT942Pe5i8wRQ0k9EM-yHg4zMpWK5X">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJOVB5Vf2LWk4i1hKkfTsJm2B9VJaTvbDOcyh2zvLvL7zd5Y2e">
    </div>

   

     <p>Your dog’s whiskers help him “see” in the dark.
Okay, it’s not quite night-vision or a super power, but those whiskers pick up on even subtle changes in air currents, providing your pup with information about the size, shape, and speed of things nearby. This allows your dog to better sense approaching dangers or prey — even at night.</p>
</div>

</div>
<%# footer %>

<%# <div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company"> %>
      <%# <h2>Heading</h2>
      <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
      <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p> %>
    <%# </div>
  </div>
</div>

  <style>
    .footer{
    background: #152F4F;
    color:white;
    /* height: 100px; */
    }
    .links{
        ul {list-style-type: none;}
        li a{
        color: white;
        transition: color .2s;
        &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
    }  
    .about-company{
        i{font-size: 25px;}
        a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
        }
    } 
    .location{
        i{font-size: 18px;}
    } 
    </style> %>
