

<div class="container image-tex-pad">
    <h1 class="welcome_text">Welcome from Pet Lover!</h1>
    
</div>

<div class="container">

  <div class="row col-md-12 image-tex-pad">
    <div class="col-md-6  paragraph_flex">
        <h5>A Toddler Dog</h5>
        <p><strong>Your dog is as smart as a 2-year-old toddler.</strong>
        There’s a reason your tot and your pup get along so well: <br> they speak the same language. Or at least, they likely understand roughly the same number of words and gestures — 250!
        Dogs and cats both slurp water the same way you may see horay.</p>
    </div>
    <div class="col-md-6 image_flex">
        <img src="http://www.petuniverse.com.au/wp-content/uploads/2015/11/cute_pup.jpg">
    </div>
  </div>

  

   <div class="row col-md-12 image-tex-pad">
    <div class="col-md-5 image_flex flex-1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJOVB5Vf2LWk4i1hKkfTsJm2B9VJaTvbDOcyh2zvLvL7zd5Y2e">
    </div>
    <div class="col-md-6  paragraph_flex">
      <h5>A Charming Pussy</h5>
      <p><strong> If you think your dog knows when it’s time for dinner or a walk,</strong> you’re right! Dogs pick up on our routines and habits, and they also sense how much time has passed. One study showed how dogs responded differently to their owners being gone for different lengths of time.</p>
    </div>
   
  </div>



   <div class="row col-md-12 image-tex-pad">
   
    <div class="col-md-6  paragraph_flex">
        <h5>A Cute Puppy&Pussy</h5>
        <p><strong>This may be hard to believe since dogs are such messy drinkers,</strong> but just like cats, our canine friends bend the tip of their tongue and raise liquid in a column up to their mouths.
        Your dog does have a sense of time — and misses you when you’re gone.</p>
        <p>If you think your dog knows when it’s time for dinner or a walk, in your free time. 
    </div> 

    <div class="col-md-6 image_flex ">
        <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1eOqvgWGrRWur9KhN0WqT942Pe5i8wRQ0k9EM-yHg4zMpWK5X">
    </div>
  </div>
 
</div>

<hr>

<h5>Tell us some stories</h5>
<div class="card-deck card_flex">
  <div class="card image_flex">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbBz3cLQ9ZQrM4MA87sth1YoLCu-hTTgg3pZ162PAz1800278X" alt="Thumbs Image cap">
    <div class="card-body">
      <h5 class="card-title">Littel Pet</h5>
      <p class="card-text">our dog’s whiskers help him “see” in the dark.<br>If you think your dog knows when it’s time for dinner or a walk.</p>

    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzVhK_zyFN1TE-ALC7eRQC7rGZy7m4nYTN1RoJi7Jt7UHBaqVnLg" alt="Thumbs Image cap">
    <div class="card-body">
      <h5 class="card-title">Fantasy</h5>
      <p class="card-text">Your dog is as smart as a tell me more about it 2-year-old toddler.There’s a reason your tot and your pup get along so well: they speak the same language. Or at least, they likely understand roughly.</p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUgvBtFDJxqLOZzg_U6vN1brVEMhs4ioVIn81dsNfFZodQ4i5b" alt="Thumbs Image cap">
    <div class="card-body">
      <h5 class="card-title">Gorgeous Look</h5>
      <p class="card-text"> and misses you when you’re gone.One study showed how dogs responded differently to their owners being gone for different lengths of time the same number of words and gestures — 250!..</p>
    </div>
  </div>
  
</div>


<%# footer %>
</div>

<div class="footer ">
  <div class="row col-md-6">
    <div class="location">
      <%# <h4 class="">Location</h4>
      <p>18 A, Jalan Sanpeng</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>+60 182 548 024</p> %>
      <%# <p><i class="fa fa-envelope-o mr-3"></i>vanthabawiuk@gmail.com</p> %> 
    </div>
  </div>


  <style>
    .footer{
    background: #152F4F;
    color:white;
    /* height: 100px; */
    }
    .links{
        ul {list-style-type: none;}
        li a{
        color: white;
        transition: color .2s;
        &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
    }  
    .about-company{
        i{font-size: 25px;}
        a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
        }
    } 
    .location{
        i{font-size: 18px;}
    } 
    </style>
