
<nav class="navbar navbar-light bg-light">
  <%# <a class="navbar-brand">Pet Lover</a> %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <%= link_to("Log Out", destroy_user_session_path, method: :delete) %>
  </form>
</nav>
<div class="row"> 
      <div class="column">
        <img src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half/public/field_blog_entry_images/2018-02/vicious_dog_0.png?itok=nsghKOHs" style="width:100%">
        <img src="https://fortunedotcom.files.wordpress.com/2019/01/boo.jpg" style="width:100%">
        <img src="https://www.gannett-cdn.com/authoring/video-thumbnails/4e66a4d0-7f81-4bda-882d-d7a18937f061_poster.jpg" style="width:100%">
        <img src="/w3images/paris.jpg" style="width:100%">
      </div>
    </div>




<body>

<h1>Adorable Dogs</h1>




</body>