// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";

/*
*= require_tree .
*= requirer_self
*/

// Homepage stylesheet controller
/////////////////////////////////////
body{
  background-color: #f3f1ed !important;
  
}




///////////////////////////////*
// Nav links stylings
//////////////////////////////*/
.nav_link{
  margin-left: 20px; 
  background-color: white; 
  text-decoration:none;
  padding:5px; 
  border-radius: 5px;
  color: white;
}
.navbartop{
  background-color: #add8e6;
}

.navbar{
  background-color: #add8e6;
}
.navbar-light{
 background-color: #ffc966;
}
.button{
  margin: 5px;
}


h1{
  padding: 15px 0px 15px 0px;
}

p {
  font-family: "Comic Sans MS", Times, serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}


.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 

}

//////////////////////////////////////
// Image and text styling for show page
//////////////////////////////////////
.image_flex img{
  
  width:100%;
  height: auto;
  max-width:420px;
  max-height:280px;
}

.flex-1{
  display:flex;
  // justify-content: flex-end;
}

.image-tex-pad{
  padding-top: 20px;
  padding-bottom: 20px;
}

.paragraph_flex{
  align-self: center;
}



.paragraph_flex{
  padding-bottom: 20px;
}

.footer{
  padding-top:20px;
  margin-top:15px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}