// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";
// @import "sessions/new";
/*
*= require_tree .
*= requirer_self
*/






// Homepage stylesheet controller
//////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color :#D3D3D3;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  /* flex-wrap: wrap; 
  padding: 0 4px;
  margin :auto;

}

/* Create four equal columns that sits next to each other */
.column {
  display:flex;
  max-width: 100%;

}

.column img {
  margin-left: 2%;
  width: 30%;
  height: 300px; 
  // display: flex;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
}




