
<div class="row col-md-6">
		
		<div class="row col-md-6 ">
			<%@pet.reviews.each do |review|%>
			<% review.rating.to_i.times do%>
				<h1 class="fas fa-star" style="color:#ffc107; font-size:15px;"><br>
			<%end%>
			<div class="row col-md-6  card">
				<%= review.comment%>
			</div>
		
		
		<hr>
		
		<div class="d-flex edit-button">
			<% if user_signed_in? %>
				 <% if review.user_id == current_user.id %>
					<i class="far fa-edit edit">
						<%= link_to "Edit", edit_pet_review_path(review.pet, review) %>
					</i>
					<i class="fa fa-trash delete" aria-hidden="true">
						<%= link_to "Delete", pet_review_path(review.pet, review), method: :delete, data: { confirm: "Are you sure?" } %>
					 </i> 
				<% end %>
			<% end %> 
		</div>

		<%end%>
</div>	
